body{
    background-image: linear-gradient(
        180deg,
        #90EE90 5%,
        #32CD32 20%,
        #00FA9A 60%,
        #3CB371 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img{
    border: 10px solid #000000;
    height: 300px;
    margin: 15px 0;
    width: 300px;
    
}

main > section button{
    background-color: #2E8B57;
    border-radius: 4px;
    color: white;
    font-family: EuclidBold;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 15px;
    padding: 9px 23px;
    text-transform: uppercase;
}

#detalhes-container{
    font-weight: bold;
    list-style-type: none;
    width: 300px;
}

#detalhes-container > li{
    align-items: baseline;
    display: flex;

}

#detalhes-container > li p{
    color: white;
}

#detalhes-container2{
    font-weight: bold;
    list-style-type: none;
    width: 300px;
}

#detalhes-containe2 > li{
    align-content: space-between;
    display: flex;
}

#detalhes-container2 > li p{
    color: white;
}

#detalhes-container3{
    font-weight: bold;
    list-style-type: none;
    width: 300px;
}

#detalhes-containe3 > li{
    align-content: space-between;
    display: flex;
}

#detalhes-container3 > li p{
    color: white;
}
